@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
/* font-family: 'Baloo 2', cursive; */
#watch-history-controls h1 {
    color: rgb(132, 40, 224);
    font-size: 5vh;
    margin: 5vh 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#watch-history-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
}

#watch-history-controls button {
    margin: 2vh 2vw;
    background-color: rgb(6, 0, 22);
}

#watch-history-controls svg {
    height: 5vh;
    display: inline-block;
}

#watch-history-controls path {
    fill: rgb(58, 0, 128);
}


#watch-history {
    width: 70vw;
    margin: 0 auto;
}

#watch-history div {
    text-align: center;
}

.watch-history-cards {
    position: relative;
}

.watch-history-delete {
    position: absolute;
    top: 0.3vh;
    right: 1vw;
    padding: 0.3vh 0.5vw;
    border-radius: 2vh;
    z-index: 3;
    cursor: pointer;
}
.bookmark-delete {
    position: absolute;
    top: 1.6vh;
    right: 2vw;
    padding: 0.3vh 0.5vw;
    border-radius: 2vh;
    z-index: 1;
    cursor: pointer;
}

.watch-history-delete svg,
.bookmark-delete svg {
    width: 1.3vw;
    display: inline-block;
}

.watch-history-delete path,
.bookmark-delete path {
    fill: rgb(58, 0, 128);
}

.watch-history-img {
    height: 15vw;
    width: 11vw;
    aspect-ratio: 6/9;
}

.watch-history-title {
    margin-top: 10px;
}


#popular-heading {
    color: rgb(132, 40, 224);
    font-size: 5vh;
    margin: 7vh 10vw 2vh;
    font-family: 'Roboto Condensed', sans-serif;
}

#recent-head {
    display: flex;
    width: 75vw;
    margin: 3vh auto;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;

}

#recent-head>a {
    color: rgb(132, 40, 224);
    font-size: 7vh;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.typesubordub a {
    padding: 1vh 1vw;
    font-size: 3vh;
    text-decoration: none;
    color: white;
    margin: 0 1vh;
    border-radius: 1.5vh;
    background-color: rgb(79 0 157 / 85%);
    cursor: pointer;
}

#recents-anime {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#recents-anime-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.recents-anime-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 15vw;
    margin: 2vh;
    cursor: pointer;
    position: relative;
}

.recents-anime-link {
    height: 80%;
    position: relative;
}
.recents-anime-title{
    width: 80%;
}
.recents-anime-img {
    height: 100%;
    border-radius: 1vh;
    aspect-ratio: 6/9;
}

.recent-sub-or-dub {
    position: absolute;
    top: 3px;
    right: 2px;
    color: white;
    padding: 0.3vh 0.5vw;
    border-radius: 2vh;
}

.recents-anime-episode {
    color: white;
}

#pages {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vh auto;
}

.pages-div {
    /* width: 50vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#pages a, #pages p {
    text-decoration: none;
    background-color: rgb(79 0 157 / 85%);
    border-radius: 0.5vh;
    padding: 1vh 1vw;
    margin: 0vh 0.5vw;
    color: white;
    font-family: 'Baloo 2', cursive;
    cursor: pointer;
}
#pages a:hover, #pages p:hover {
    color: rgb(64, 153, 255);
}


/* Popular Anime */
#Search-Choose {
    text-align: center;
    padding: 3vh;
    color: rgb(132, 40, 224);
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}
#one_option_needed {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Query-Search input{
    width: 100%;
	text-align: center;
	padding: 1vh;
	border-radius: 1vh;
	/* background-color: rgb(25, 19, 34); */
	/* border: 1px solid #525252; */
	margin: 2vh 0;
	font-size: 2.5vh;
    color: black;
}
.Query-Search input:focus{
    outline: none;
}   
#one_option_needed > .Type-Catagories{
    border: 1px solid rgb(54, 54, 54);
    display: flex;
    justify-content: space-around;
    padding: 1vh 1vw;
	border-radius: 1vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#one_option_needed select{
    background-color:rgb(25, 19, 34);
    color: rgb(132, 40, 224);
    border: none;
    outline: none;
    scroll-behavior: smooth;
    padding: 0.3vh 0.7vw;
    cursor: pointer;
}
#one_option_needed select :focus{
    border: none;
    background-color:rgb(25, 19, 34);
}
.Search-Active {
    display: none;
}

.Search-Passive {
    display: flex;
}
#Search-Catagories {
    justify-content: space-around;
    flex-direction: column;
    width: 60vw;
    padding: 2vh 3vw;
    margin: 1vh auto;
    background-color: rgba(30, 24, 39, 0.85);
}
.filter_heading{
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}
#Genres-Options{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Genres-Options p {
    border-radius: 0.5vh;
	padding: 1vh 1vw;
	margin: 1vh 0.5vw;
	font-size: 2.1vh;
	cursor: pointer;
	text-decoration: none;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lato', sans-serif;
} 
.genre_Inactive{
    color: white;
    border: 1px solid rgb(64, 64, 64);
}
#Genres-Options p:hover {
    color: rgb(132, 40, 224);
    border: 1px solid rgb(79 0 157 / 85%)
}
.genre_active{
    background-color: rgb(21 1 48 / 85%);
    color: rgb(132, 40, 224);
    border: 1px solid rgb(79 0 157 / 85%)
}

#search-Anilist {
    display: block;
	background-color: #40037a;
	border-radius: 1vh;
	padding: 0.5vw;
	text-align: center;
	font-size: 3vh;
	text-decoration: none;
	cursor: pointer;
}
#search-Anilist:hover {
	background-color: rgba(37, 2, 83, 0.85);
    color: #7f1ed8;
}
#search_Url{
    display: none;
}